body{
  background-image: url("cssimages/threatback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.logoImage{
	width:5%;
	margin-right:5px;
}

.navbar{
	background-color:#0F0B56;
}

.container-fluid{
	background-color:#5852CE;
}

.navbar.navbar-expand-lg.bg-body-tertiary{
	background-color:#5852CE;
}
.collapse.navbar-collapse{
	background-color:#5852CE;
}

.navbar .nav-link:hover {
  background-color: #3f3bb3;
  color: white;
  transition: 0.3s;
}


#heading, .footer{
	text-align:center;
	font-family: 'Fascinate Inline', cursive;
}


