/*CSS sheet by:Utkarsh Mishra (25156756)*/

/*this is the styling to change the background color */
body{
	background-color:LightCyan;
}
/*here i have properly styled the form which will size it properly, make it have a double border, increase padding,have a box shadow and also make its corners round*/
#ourForm{
	 background-color:LightBlue;
	  width: 15%;
      margin: auto;
	  border-style: double;
	  padding:30px;
	  box-shadow: 5px 5px;
	  border-radius: 10px;
}

