/*Fonts from Google Fonts*/
.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Background Image and colour*/
.backGroundImage{
	background-image:url("cssimages/oceanBackground.jpg");
}

body{
	background-color:#5852CE;
	background-image: url("cssimages/threatback.jpg");
	  background-repeat: no-repeat;
  background-size: cover;
}
/*Navbar Assests and Colouring*/
.logoImage{
	width:5%;
	margin-right:5px;
}

.navbar{
	background-color:#0F0B56;
}

.container-fluid{
	background-color:#5852CE;
}

.navbar navbar-expand-lg bg-body-tertiary{
	background-color:#5852CE;
}
.collapse navbar-collapse{
	background-color:#5852CE;
}

.marineImage{
	display:block;
	margin-left:340px;
	margin-right:340px;
}
.accordian{
	background-color:#5852CE;
}

/*Text sizing and styling*/
.title{
	font-family: "Fascinate Inline", system-ui;
	text-align:center;
	font-size:28px;
}
.paragraph{
	font-family: "Story Script", sans-serif;
}

/*Styling for Quiz*/
.footer{
	text-align:center;
}