/*CSS sheet by:Utkarsh Mishra (25156756)*/
body{
  background-image: url("cssimages/threatback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
   
}


.header{
	font-family: 'Fascinate Inline', cursive;
	color: white;
	background:linear-gradient(90deg, #004e92, #000428);
	font-size: 30px;
	padding: 20px;
	margin-top: 20px;
	border-radius: 20px;
	text-align: center;
	width: 100%;
	  box-shadow: 0 4px 8px rgba(0,0,0,0.5)
	
}

.footer{
	color: white;
	background:linear-gradient(90deg, #004e92, #000428);
	font-size: 12px;
	padding: 5px;
	margin-top: 10px;
	text-align: center;
}


.navbar-custom {
  background:linear-gradient(90deg, #004e92, #000428);
}

.nav-link {
  color: white;
  
}

.nav-link:hover {
  color: #FFD700 !important; 
  text-decoration: underline;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.centered {
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 8px;
  color: white;
  max-width: 900px;
  margin: 40px auto;
  background-color:rgba(0, 128, 128, 0.4);
  font-weight: 300;
  font-style: normal;
  
  
}


.card {
  background-color: DeepSkyBlue;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover {
  opacity: 1;
  transform: translateY(-5px); 
  /*used to create a lift effect */
}

.card-img-top {
  height: 150px;
  object-fit: cover; 
}
