/*CSS sheet by:Utkarsh Mishra (25156756)*/

/*this is the styling for the background image to appear and for it to fit properly */
body{
  background-image: url("cssimages/threatback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*below is the styling for the navbar components and the logo in it*/
.logoImage{
	width:5%;
	margin-right:5px;
}

.navbar{
	background-color:#0F0B56;
}

.container-fluid{
	background-color:#5852CE;
}

.navbar-expand-lg.bg-body-tertiary{
	background-color:#5852CE;
}
.collapse.navbar-collapse{
	background-color:#5852CE;
}
.navbar .nav-link:hover {
  background-color: #3f3bb3;
  color: white;
  transition: 0.3s;
}

/*basic heading and footing styling*/
#heading, .footer{
  text-align:center;
  font-family: 'Fascinate Inline', cursive;
  background-color: #0F0B56;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;


}
/*this is to just adjust the images*/
#threat1, #threat2 , #threat3{
	height: 400px;
	width: 100%;
	object-fit:cover;
	border-radius: 8px;
}


