body{
background-image: url("ocean1.jpg");
}

#heading{
	color: yellow;
	font-size: 30px;
	border: 4px solid black;
	padding: 10px;
	text-align: center;
}

#image{
	width: 1300px;
	height: 500px;
}

#footing{
	color: yellow;
	font-size: 30px;
	border: 4px solid black;
	padding: 10px;
	text-align: center;
}
	
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}